body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('../imagenes/img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.contenedorprincipal {
  padding: 0px;
  display: flex;
  width: auto;
  height: 60%;
  background-size: cover;
  justify-content: flex-end;
  overflow: hidden;
}
.contenedor {
  padding: 2px;
  display: flex;
  width: 100%;
  height: 60%;
  background-size: cover;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contenedormenus {
  padding: 20px;
  display: flex;
  width: 40px;
  height: 40px;
  background-size: cover;
  justify-content: flex-end;
}
ul {
  list-style: none;
  list-style-type: none;
  list-style-position: outside;
}
li {
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
  
}
#context-menu {
  background-color: #ffffff;
  width: 250px;
  position: absolute;
  -moz-box-shadow: 0 0 30px #159dc1;
  -webkit-box-shadow: 0 0 30px #159dc1;
  box-shadow: 0 0 30px #159dc1;
}
#dialog, #dialog2 {
  border: none;
  box-shadow: 0 0 30px #159dc1;
  width: 30%;
}
.nombre {
  display: flex;
  width: 100% auto;
  background-color: #005EC1;
  height: 50px;
  text-align: center;
  color: white;
  box-shadow: 0 0 30px #159dc1;
  justify-content: space-between;
  flex-flow: row;
}
.botonopcionescuadro {
  padding-top: 5px;
  float: right;
}
.persona {
  display: flex;
  height: 100px auto;
  width: 100px ;
  padding: 10px;
  justify-content: center;
  
}

.proyecto {
  display: flex;
  height: 20% auto;
  width: 20% auto;
  background-color: lightblue;
  margin: 20px;
  border-radius: 20px;
  flex-flow: column;
  justify-content: center;
  
}
.cuadritopersona{
  background-color: #11a396;
  display: flex;
  height: 100px ;
  width: 70px;
  flex-flow: column;
  text-align: center;
  border-radius: 15px;
  box-shadow: 14px rgb(122, 249, 108);
  margin: 10px;
}
#nombrecarita{
  display:flex;
  margin: 0;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.espera{
  display: flex;
  position:fixed;
  background-color:rgba(198, 19, 19, 0.11);
  -webkit-box-shadow: 0px 0px 17px 1px rgba(250,250,250,0.62);
  -moz-box-shadow: 0px 0px 17px 1px rgba(250,250,250,0.62);
  box-shadow: 0px 0px 17px 1px rgba(250,250,250,0.62);
  width: 100px;
  height: 600px;
  justify-content:center;
  margin: auto;
  visibility:hidden;
  flex-flow: column;
  padding: 10px;
  margin-top: 10px; 

}
#mostrarespera {
  margin: 10px;
  
  } #ocultarespera{
    margin: 10px;
    visibility: hidden;
  } 
  
  
  #mostrarespera:hover , #ocultarespera:hover{
    -webkit-box-shadow: 0px 0px 65px -9px rgba(250,250,250,1);
    -moz-box-shadow: 0px 0px 65px -9px rgba(250,250,250,1);
    box-shadow: 0px 0px 65px -9px rgba(250,250,250,1);
    
  }
  #json{
    margin: 20px;
  }
  #panel-oculto {
    display: none; 
    position: fixed; 
    top: 0; 
    width: 100%;
    height: 200px;
    z-index: 1000;
    background-color: #222; }
  }
  #menu {
    
    list-style: none;
    text-align: right;
    padding-left: 0px;
  }
  #menu li>a {
    background-color: #217cb6;
    color: white;
    display: block;
    text-decoration: none;
    width: 70px;
    padding: 10px;
    text-align: center;
  }
  #menu li>a:hover {
    color: #217cb6;
    background-color: #ffffff;
    
    
  }
  #menu>li>#menu {
    display: none;
  }
  #menu>li:hover>ul {
    display: block;
    
  }
  #menu>li>ul {
    display: none;
  }
  #menu>li:hover>ul {
    display: block;
  }
  @media (max-width: 600px) {
    .contenedor {
      background-color: red;
    }   
    
    
    
    ///////////////////////
